
@{
    ViewBag.Title = "MisReservas";
}

<br />
<<<<<<< HEAD
<h2>Mis Reservas</h2>
<html>
<head>
    <style type="text/css">
        #main-container {
            margin: 150px auto;
            width: 600px;
        }

=======
<br />
<h2>MisReservas</h2>
<html>

<head>
    <style type="text/css">
        * {
        }

        #main-container {
            margin: 100px auto;
            width: 300px;
        }

>>>>>>> VistasHTML
        table {
            width: 100%;
            text-align: left;
            border-collapse: collapse;
        }

        th, td {
<<<<<<< HEAD
            padding: 20px;
        }

        thead {
            border-bottom: solid 5px #0F362D;
        }

        tr:nth-child(even); {
            background-color: #ddd;
        }

        tr:hover td {
            background-color: #36981;
            color: blue;
        }
    </style>


</head>
<body>
    <div id="main-container">
=======
            padding: 10px;
        }

        thead {
            border-bottom: solid 2px;
        }

        tr {
        }
    </style>
</head>

<body>
    <div class="container">
        <br />
        <div>
            Información de mis reservas
        </div>

>>>>>>> VistasHTML
        <table>
            <thead>
                <tr>
                    <th>Actividad</th>
<<<<<<< HEAD
                    <th>Ciclo</th>
                    <th>Locales</th>
                    <th>Horarios</th>
                    <th>Aprobada</th>
                </tr>

            </thead>

            <tr>
                <td>Parcial</td>
                <td>II</td>
                <td>C2</td>
                <td>6:00am-8:00am</td>
                <td>Aprobada</td>
            </tr>
        </table>

    </div>


</body>
</html>
=======
                    <th>Asignatura</th>
                    <th>Semana</th>
                    <th>Ciclo</th>
                    <th>Año</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <br />

    </div>
</body>
</html>
>>>>>>> VistasHTML
