
@{
    ViewBag.Title = "MisReservas";
}

<br />
<br />
<h2>MisReservas</h2>
<html>

<head>
    <style type="text/css">
        * {
        }

        #main-container {
            margin: 100px auto;
            width: 300px;
        }

        table {
            width: 100%;
            text-align: left;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
        }

        thead {
            border-bottom: solid 2px;
        }

        tr {
        }
    </style>
</head>

<body>
    <div class="container">
        <br />
        <div>
            Información de mis reservas
        </div>

        <table>
            <thead>
                <tr>
                    <th>Actividad</th>
                    <th>Asignatura</th>
                    <th>Semana</th>
                    <th>Ciclo</th>
                    <th>Año</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <br />

    </div>
</body>
</html>