
@{
    ViewBag.Title = "ModificarHoras";
}
<br />
<br />
<h2>ModificarHoras</h2>
<html>

<head>
    <style type="text/css">
        * {
        }

        #main-container {
            margin: 150px auto;
            width: 600px;
        }

        table {
            width: 100%;
            text-align: left;
            border-collapse: collapse;
        }

        th, td {
            padding: 20px;
        }

        thead {
            border-bottom: solid 5px;
        }

        tr {
        }
    </style>
</head>

<body>
    <div id="main-container">
        <table>
            <thead>
                <tr>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                </tr>
            </thead>
            <tr>
                <td>
                    <input value="6:00 am"><input>
                    <input value="8:00 am"><input>
                    <input value="9:00 am"><input>
                </td>

                <td>
                    <input value="8:00 am"><input>
                    <input value="9:00 am"><input>
                    <input value="10:00 am"><input>
                </td>
            </tr>
        </table>
        <button class="btn btn-dark">Guardar Cambios</button>



    </div>
</body>

</html>
