
@{
    ViewBag.Title = "ModificarHorario";
}

<h2>ModificarHorarios</h2>
<html>

<head>
    <style type="text/css">
        *{
            
        }
        #main-container{
            margin: 150px auto;
            width: 600px;

        }
        table{
            width:100%;
            text-align: left;
            border-collapse: collapse;

        }
        th, td{
            padding: 20px;

        }
        thead{
            border-bottom: solid 5px;
        }
        tr{

        }

    </style>
</head>

<body>
    <div id="main-container">
        <table>
            <thead>
                <tr>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                    <th> </th>
                </tr>
            </thead>
            <tr>
                <td>
                    <label for="horario"> </label>
                    <select name="horario" id=" horario">
                        <option value="6:20 am">6:20 am</option>
                        <option value="8:00 am">8:00 am</option>
                        <option value="9:50 am">9:50 am</option>
                        <option value="10:40 am">10:40 am</option>
                    </select>
                </td>

                <td>
                    <label for="horario"> </label>
                    <select name="horario" id=" horario">
                        <option value="6:20 am">6:20 am</option>
                        <option value="8:00 am">8:00 am</option>
                        <option value="9:50 am">9:50 am</option>
                        <option value="10:40 am">10:40 am</option>
                    </select>
                </td>
                <td>
                    <input type="button" value="Modificar" />
                </td>
            </tr>

        </table>
    </div>
</body>

</html>
