@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<h2> Reporte por Local (segun Tipo de Actividad)</h2>
<html>

<head>
    <style type="text/css">
        * {
        }

        #main-container {
            margin: 100px auto;
            width: 300px;
        }

        table {
            width: 100%;
            text-align: left;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
        }

        thead {
            border-bottom: solid 2px;
        }

        tr {
        }
    </style>
</head>

<body>
    <div class="container">
        <br />
        <h4>NOMBRE DEL LOCAL: B21</h4>
        <div>
            Actividad: Parcial
        </div>

        <table>
            <thead>
                <tr>
                    <th>Reservas</th>
                </tr>
                <tr>
                    <th>Asignatura</th>
                    <th>Semana</th>
                    <th>Ciclo</th>
                    <th>Año</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>

        <br />

        <div>
            Actividad: Laboratorio
        </div>

        <table>
            <thead>
                <tr>
                    <th>Reservas</th>
                </tr>
                <tr>
                    <th>Asignatura</th>
                    <th>Semana</th>
                    <th>Ciclo</th>
                    <th>Año</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>

        <br />

        <div>
            Actividad: Practica
        </div>

        <table>
            <thead>
                <tr>
                    <th>Reservas</th>
                </tr>
                <tr>
                    <th>Asignatura</th>
                    <th>Semana</th>
                    <th>Ciclo</th>
                    <th>Año</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>


        <br />
        <br />
        <h4>NOMBRE DEL LOCAL: B21</h4>
        <div>
            Actividad: Parcial
        </div>

        <table>
            <thead>
                <tr>
                    <th>Reservas</th>
                </tr>
                <tr>
                    <th>Asignatura</th>
                    <th>Semana</th>
                    <th>Ciclo</th>
                    <th>Año</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>

        <br />

        <div>
            Actividad: Laboratorio
        </div>

        <table>
            <thead>
                <tr>
                    <th>Reservas</th>
                </tr>
                <tr>
                    <th>Asignatura</th>
                    <th>Semana</th>
                    <th>Ciclo</th>
                    <th>Año</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>

        <br />

        <div>
            Actividad: Practica
        </div>

        <table>
            <thead>
                <tr>
                    <th>Reservas</th>
                </tr>
                <tr>
                    <th>Asignatura</th>
                    <th>Semana</th>
                    <th>Ciclo</th>
                    <th>Año</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>


    </div>
</body>

</html>


