
@{
    ViewBag.Title = "ReporteEscuela";
}

<h2>ReporteEscuela</h2>
<html>
    <head>
        <style type="text/css">
            * {
            }

            #main-container {
                margin: 100px auto;
                width: 300px;
            }

            table {
                width: 100%;
                text-align: left;
                border-collapse: collapse;
            }

            th, td {
                padding: 10px;
            }

            thead {
                border-bottom: solid 2px;
            }

            tr {
            }
        </style>
    </head>

    <body>
        <div class="container">
            <br />
            <h4>NOMBRE DE LA ESCUELA: Escuela de Ingenieria de Sistemas Informaticos</h4>
            <div>
                Local: DR11
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Reservas</th>
                    </tr>
                    <tr>
                        <th>Asignatura</th>
                        <th>Semana</th>
                        <th>Ciclo</th>
                        <th>Año</th>
                        <th>Usuario</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>

            </table>

            <br />

            <div>
                Local: DR21
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Reservas</th>
                    </tr>
                    <tr>
                        <th>Asignatura</th>
                        <th>Semana</th>
                        <th>Ciclo</th>
                        <th>Año</th>
                        <th>Usuario</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>

            </table>

            <br />
            <br />
            <h4>NOMBRE DE LA ESCUELA: Escuela de Ingenieria Electrica</h4>
            <div>
                Local: ED11
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Reservas</th>
                    </tr>
                    <tr>
                        <th>Asignatura</th>
                        <th>Semana</th>
                        <th>Ciclo</th>
                        <th>Año</th>
                        <th>Usuario</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>

            </table>

            <br />

            <div>
                Local: ED23
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Reservas</th>
                    </tr>
                    <tr>
                        <th>Asignatura</th>
                        <th>Semana</th>
                        <th>Ciclo</th>
                        <th>Año</th>
                        <th>Usuario</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>

            </table>

            <br />


        </div>
    </body>


</html>
